*, *::before, *::after {
    font-family: Arial, Helvetica, sans-serif;
}

html {
    margin: auto;
    width: 50%;
    text-align: center;
    padding: 10px;
    background-color: whitesmoke;
}

button {
    background-color: rgb(0, 199, 199);
}

.questionCard{
    flex: wrap;
    padding: 25px;
}

.answerButtons{
  display: grid;
  justify-content: center;
  box-sizing: border-box;
  gap: 10px;
  padding-top: 25px;
}

.scoresPage {
    display: none;
}
.hide{
    display: none;
}